<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    xmlns:actionandroid="http://schemas.android.com/apk/distribution"
    package="com.tts.starsky.phonesweepcode">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取WIFI信息状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取网络状态改变的权限 -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>


    <application
        android:name=".view.Init"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <activity android:name=".view.SignActivity">

        </activity>

        <activity android:name=".view.FunctionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".MainActivity"/>-->
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity" />
        <activity android:name=".TestActivity"/>
        <activity android:name=".TraceActivity"/>
        <activity android:name=".view.AccountsActivity"/>
        <activity android:name=".view.BillActivity"/>
        <activity android:name=".view.GoodsInfoActivity"/>
        <activity android:name=".view.GoodsInfoActivityList"/>
        <activity android:name=".view.GoodsIntoActivity"/>
        <activity android:name=".view.AddGoodInfoActivity"/>
        <activity android:name=".view.DiscountActivity"/>
        <activity android:name=".view.ContentActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>



</manifest>